$boxGreen: #2d973bda;
$boxGreenAkzt: #3db04dc8;
$boxOrange: #97852dda;
$boxOrangeAkzt: #b0973dc8;
$boxRed: #972d2dda;
$boxRedAkzt: #b0453dc8;
$boxDefault: #287d6bda;
$boxDefaultAkzt: #35a088c8;